#pagination_buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e6e9;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: #00ab26;
    }
    &:active {
      background-color: #034f13;
    }
  }
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 1px solid #e0e6e9;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    user-select: none;
    &:hover {
      border: none;
      background: #00ab26;
      color: #ffffff;
    }
    &:active {
      background-color: #034f13;
    }
  }
  .active_li {
    border: none;
    background: #00ab26;
    color: #ffffff;
  }
}

#audio_page {
  display: grid;
  grid-template-columns: repeat(2, 35% 65%);
  gap: 40px;
  #audio_left {
    display: flex;
    gap: 24px;
    flex-direction: column;
    #categ {
      display: flex;
      flex-direction: column;
      gap: 24px;
      background-color: #ffffff;
      border-radius: 12px;
      padding: 30px 40px;
      h1 {
        font-size: 24px;
        color: #3a3e40;
        font-weight: 600;
      }
      > form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        label {
          span {
            margin-left: 12px;
            color: #3a3e40;
            font-size: 16px;
            font-weight: 400;
            &:hover {
              color: #00ab26;
              font-weight: 500;
            }
          }
          input {
            border-radius: 4px;
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: #f7fafc;
            border: 1px solid #e0e6e9;
            transition: none;
            background-position: center;
            background-repeat: no-repeat;
            &:checked {
              border: 1px solid #00ab26;
              background-image: url("../img/icons/check.svg");
            }
          }
        }
      }
    }
    #filter {
      display: flex;
      flex-direction: column;
      gap: 24px;
      background-color: #ffffff;
      border-radius: 12px;
      padding: 30px 40px;
      h1 {
        font-size: 24px;
        color: #3a3e40;
        font-weight: 600;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        label {
          input {
            border-radius: 50%;
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: #f7fafc;
            border: 1px solid #e0e6e9;
            transition: none;
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            &:checked {
              background-image: url("../img/icons/check_green.svg");
            }
          }
          span {
            margin-left: 12px;
            color: #3a3e40;
            font-size: 16px;
            font-weight: 400;
            &:hover {
              color: #00ab26;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  #audio_rigth {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 18px;
    #audio_right_sarlavha {
      h1 {
        color: #3a3e40;
        font-weight: 700;
        font-size: 36px;
      }
    }
    #card_block {
      display: flex;
      flex-direction: column;
      gap: 18px;
      // transform: translate3d(825px, 0px, 0px) !important;
    }
  }
}
