#section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  padding: 50px 0;
}
#section1 .left {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
#section1 .left .matn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#section1 .left .matn h2 {
  font-size: 16px;
  font-weight: 400;
  color: #3a3e40;
}
#section1 .left .matn h1 {
  color: #3a3e40;
  font-weight: 700;
  font-size: 36px;
}
#section1 .left .tel {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
}
#section1 .left .tel > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#section1 .left .tel > ul > li {
  font-size: 16px;
  font-weight: 400;
  color: #b0babf;
}
#section1 .left .tel > ul > p {
  color: #3a3e40;
  font-size: 18px;
  font-weight: 500;
}
#section1 .left .tel > ul > ul {
  display: flex;
  gap: 15px;
  align-items: center;
}
#section1 .left .tel > ul > ul > li {
  color: #3a3e40;
  font-size: 18px;
  font-weight: 500;
}
#section1 .right > div {
  background-color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
#section1 .right > div form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}
#section1 .right > div form h1 {
  color: #3a3e40;
  font-size: 32px;
  font-weight: 700;
}
#section1 .right > div form label {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
#section1 .right > div form label li {
  color: #3a3e40;
  font-size: 16px;
  font-weight: 400;
}
#section1 .right > div form label > input {
  color: #3a3e40;
  font-size: 16px;
  font-weight: 400;
  background-color: #f7fafc;
  border: 1px solid #e0e6e9;
  border-radius: 8px;
  padding: 13px 18px;
}
#section1 .right > div form > button {
  padding: 13px 65px;
  background: #00ab26;
  border-radius: 12px;
  color: #ffffff;
  border: none;
}
#section1 .right > div #contactus_modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(2, 79, 19, 0.5);
  justify-content: center;
  align-items: center;
}
#section1 .right > div #contactus_modal > div {
  width: 370px;
  height: 325px;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  flex-direction: column;
  padding: 40px 60px;
  border-radius: 12px;
  background-color: #ffffff;
}
#section1 .right > div #contactus_modal > div h1 {
  font-weight: 700;
  font-size: 18px;
  color: #3a3e40;
  text-align: center;
}
#section1 .right > div #contactus_modal > div img {
  width: 100px;
  height: 100px;
  padding: 35px;
  background-color: #f7fafc;
  border-radius: 50%;
}
#section1 .right > div #contactus_modal > div > button {
  background-color: #00ab26;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding: 12px 60px;
}
#section1 .right > div .display_flex {
  display: flex !important;
}

#section2 iframe {
  height: 600px;
  width: 100%;
  border-radius: 12px;
}/*# sourceMappingURL=contacts.css.map */