#pagination_buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e6e9;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: #00ab26;
    }
    &:active {
      background-color: #034f13;
    }
  }
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 1px solid #e0e6e9;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    user-select: none;
    &:hover {
      border: none;
      background: #00ab26;
      color: #ffffff;
    }
    &:active {
      background-color: #034f13;
    }
  }
  .active_li {
    border: none;
    background: #00ab26;
    color: #ffffff;
  }
}
.video_card_horizontal {
  display: none;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 18px;
  gap: 20px;
  align-items: center;
  .card_image {
    width: 35%;
    position: relative;
    > img {
      width: 100%;
    }
    span {
      position: absolute;
      bottom: 12px;
      right: 12px;
      background-color: rgba($color: #000000, $alpha: 0.8);
      color: #ffffff;
      border-radius: 12px;
      padding: 7px 17px;
      font-size: 16px;
      font-weight: 400;
    }
  }
  > .card_text {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .video_card_stats {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    a {
      color: #3a3e40;
      font-size: 16px;
      font-weight: 500;
      padding: 12px 20px;
      border-radius: 12px;
      border: 1px solid #00ab26;
      &:hover {
        background-color: #00ab26;
      }
      &:active {
        background-color: #ffffff;
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
#video_page {
  display: grid;
  grid-template-columns: repeat(2, 35% 65%);
  gap: 40px;
  #video_left {
    display: flex;
    gap: 24px;
    flex-direction: column;
    #categ {
      display: flex;
      flex-direction: column;
      gap: 24px;
      background-color: #ffffff;
      border-radius: 12px;
      padding: 30px 40px;
      h1 {
        font-size: 24px;
        color: #3a3e40;
        font-weight: 600;
      }
      > form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        label {
          span {
            margin-left: 12px;
            color: #3a3e40;
            font-size: 16px;
            font-weight: 400;
            &:hover {
              color: #00ab26;
              font-weight: 500;
            }
          }
          input {
            border-radius: 4px;
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: #f7fafc;
            border: 1px solid #e0e6e9;
            transition: none;
            background-position: center;
            background-repeat: no-repeat;
            &:checked {
              border: 1px solid #00ab26;
              background-image: url("../img/icons/check.svg");
            }
          }
        }
      }
    }
    #filter {
      display: flex;
      flex-direction: column;
      gap: 24px;
      background-color: #ffffff;
      border-radius: 12px;
      padding: 30px 40px;
      h1 {
        font-size: 24px;
        color: #3a3e40;
        font-weight: 600;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        label {
          input {
            border-radius: 50%;
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: #f7fafc;
            border: 1px solid #e0e6e9;
            transition: none;
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            &:checked {
              background-image: url("../img/icons/check_green.svg");
            }
          }
          span {
            margin-left: 12px;
            color: #3a3e40;
            font-size: 16px;
            font-weight: 400;
            &:hover {
              color: #00ab26;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  #video_rigth {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 18px;
    #video_right_sarlavha {
      display: flex;
      justify-content: space-between;
      h1 {
        color: #3a3e40;
        font-weight: 700;
        font-size: 36px;
      }
      button {
        color: #ffffff;
        padding: 12px 25px;
        height: 45px;
        background: linear-gradient(93.17deg, #00ab26 2.16%, #6aab00 108.16%);
        border-radius: 12px;
        &:hover {
          background: #3ccc47;
        }
        &:active {
          background: #148314;
        }
      }
    }
    #card_block {
      display: flex;
      flex-direction: column;
      gap: 18px;
      // transform: translate3d(825px, 0px, 0px) !important;
    }
  }
  #video_yubor_modal {
    display: none;
    // display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(2, 79, 19, 0.5);
    backdrop-filter: blur(10px);
    z-index: 102;
    #yuborish {
      background-color: #ffffff;
      width: 600px;
      border-radius: 12px;
      > div {
        display: flex;
        padding: 25px;
        justify-content: space-between;
        background-color: #f7fafc;
        border-radius: 12px 12px 0px 0px;
        h2 {
          font-weight: 700;
          font-size: 24px;
          color: #3a3e40;
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
      > form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px;
        gap: 24px;
        // border: 1px solid red;
        label {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            font-weight: 400;
            font-size: 16px;
            color: #3a3e40;
          }
          input {
            width: 100%;
            height: 45px;
            background-color: #f7fafc;
            border: 1px solid #e0e6e9;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 400;
            padding: 12px 18px;
            &:focus {
              outline: none;
              border: 1px solid #b8bec1 !important;
            }
          }
          div {
            display: flex;
            align-items: center;
            gap: 12px;
            input {
              appearance: none;
              border-radius: 4px;
              width: 20px !important;
              height: 20px !important;
              background-color: #f7fafc;
              border: 1px solid #e0e6e9;
              transition: none;
              background-position: center;
              background-size: 70%;
              background-repeat: no-repeat;
              padding: 10px;
              &:checked {
                background-image: url("../img/icons/check.svg");
                border: 1px solid #00ab26;
              }
            }
            span {
              font-weight: 400;
              font-size: 16px;
              color: #3a3e40;
              a {
                color: #00ab26;
                text-decoration: underline;
              }
            }
          }
        }
        > div {
          display: flex;
          align-items: center;
          gap: 30px;
          padding: 4px;
          background: #f7fafc;
          border: 1px solid #e0e6e9;
          border-radius: 8px;
          span {
            color: #b0babf;
            font-weight: 400;
            font-size: 16px;
            margin-right: 30px;
          }
        }
        .video_yub_btn {
          font-size: 16px;
          font-weight: 400;
          color: #3a3e40;
          padding: 12px 65px;
          border: none;
          border-radius: 8px;
          background-color: #00ab26;
          color: #ffffff;
          &:hover {
            background-color: #3ccc47;
          }
        }
      }
    }
  }
  #video_yubor_modal_oferta {
    display: none;
    // display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(2, 79, 19, 0.5);
    backdrop-filter: blur(10px);
    z-index: 102;
    #oferta {
      background-color: #ffffff;
      width: 600px;
      border-radius: 12px;
      > div {
        display: flex;
        padding: 24px 40px;
        justify-content: space-between;
        background-color: #f7fafc;
        border-radius: 12px 12px 0px 0px;
        h2 {
          font-weight: 700;
          font-size: 24px;
          color: #3a3e40;
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
      .scroll {
        height: 500px;
        overflow-y: scroll;
        background-color: #fff;
        margin: 10px 30px 10px 0;
      }
      .scroll::-webkit-scrollbar {
        width: 13px;
      }
      .scroll::-webkit-scrollbar-track {
        background: #e0e6e9;
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
      }
      .scroll::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #00ab26;
        // -webkit-box-shadow: inset 0 0 6px #00ab26;
      }
      .scroll::-webkit-scrollbar-thumb:hover {
        background: #148314;
      }
      > ul {
        overflow-y: scroll;
        padding: 30px;
        p {
          text-align: justify;
        }
        button {
          width: 100%;
          height: 45px;
          padding: 12px 65px;
          background-color: #f7fafc;
          border-radius: 12px;
        }
      }
      hr {
        border: 1px solid #e0e6e9;
      }
    }
  }
}
